/* might need this eventually */
/* <style type="text/css" id="media-query-bodytag"> */
    @media (max-width: 520px) {
      .block-grid {
        min-width: 320px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
      }

      .col {
        min-width: 320px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
      }

      .col>div {
        margin: 0 auto;
      }

      img.fullwidth {
        max-width: 100% !important;
      }

      img.fullwidthOnMobile {
        max-width: 100% !important;
      }

      .no-stack .col {
        min-width: 0 !important;
        display: table-cell !important;
      }

      .no-stack.two-up .col {
        width: 50% !important;
      }

      .no-stack.mixed-two-up .col.num4 {
        width: 33% !important;
      }

      .no-stack.mixed-two-up .col.num8 {
        width: 66% !important;
      }

      .no-stack.three-up .col.num4 {
        width: 33% !important;
      }

      .no-stack.four-up .col.num3 {
        width: 25% !important;
      }

      .mobile_hide {
        min-height: 0px !important;
        max-height: 0px !important;
        max-width: 0px !important;
        display: none !important;
        overflow: hidden !important;
        font-size: 0px !important;
      }
    }
